body {
    background-color: rgb(220, 219, 223)
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  h2 {

     color:Pink;
     text-align: left

  }
  p {
    font-family: verdana;
    font-size: 20px;
  }